<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XD501.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <XD501.Properties.Settings>
            <setting name="XSTLOutput" serializeAs="String">
                <value>Templates\output.xslt</value>
            </setting>
            <setting name="OutputConfigFile" serializeAs="String">
                <value>Templates\output.ini</value>
            </setting>
            <setting name="Schema" serializeAs="String">
                <value>Templates\xdomea-Nachrichten-AussonderungDurchfuehren.xsd</value>
            </setting>
        </XD501.Properties.Settings>
    </applicationSettings>
</configuration>